---
import PageLayout from '../layouts/PageLayout.astro';
import { siteConfig } from '../config';
import ContactLinks from '../components/ContactLinks.astro';
import { getBioParagraphs, aboutContent } from '../content/about-bio';

const title = 'About';
const description = siteConfig.aboutDescription;
const bioParagraphs = getBioParagraphs(aboutContent);
---

<PageLayout title={title} description={description}>
  <div class="float-md-end ms-md-3 mb-3 mx-auto d-block d-md-inline" style="width: 50%; max-width: 250px;">
    <a href={`${siteConfig.githubRepoUrl}/raw/master/public/assets/img/headshot.jpg`}>
      <img src="/assets/img/headshot.jpg" alt={`${siteConfig.author} headshot`} width="250" height="250" class="img-fluid rounded" />
    </a>
  </div>

  {bioParagraphs.map(paragraph => (
    <p set:html={paragraph}></p>
  ))}

  <p>
    Feel free to email him at <a href={`mailto:${siteConfig.email}`}>{siteConfig.email}</a> or you can find him on these social networks:
  </p>

  <ContactLinks />
</PageLayout>
