---
import PageLayout from '../layouts/PageLayout.astro';
import { siteConfig } from '../config';
import { Image } from 'astro:assets';
import headshotImage from '../../assets/img/headshot.jpg';
import ContactLinks from '../components/ContactLinks.astro';
import { getBioParagraphs, aboutContent } from '../content/about-bio';

const title = 'About';
const description = siteConfig.aboutDescription;
const bioParagraphs = getBioParagraphs(aboutContent);
---

<PageLayout title={title} description={description}>
  <div class="float-end ms-3 mb-2 headshot-wrapper">
    <a href={`${siteConfig.githubRepoUrl}/raw/master/assets/img/headshot.jpg`}>
      <Image src={headshotImage} alt={`${siteConfig.author} headshot`} width={250} height={250} class="w-100 h-auto rounded" />
    </a>
  </div>

  {bioParagraphs.map(paragraph => (
    <p set:html={paragraph}></p>
  ))}

  <p>
    Feel free to email him at <a href={`mailto:${siteConfig.email}`}>{siteConfig.email}</a> or you can find him on these social networks:
  </p>

  <ContactLinks />
</PageLayout>

<style>
  /* Headshot sizing - can't be achieved with Bootstrap utilities alone */
  .headshot-wrapper {
    width: 25%;
  }

  /* Responsive styling for headshot on mobile */
  @media (max-width: 768px) {
    .headshot-wrapper {
      float: none !important;
      width: 50% !important;
      margin: 0 auto 1rem !important;
      display: block;
    }
  }
</style>
