---
import PageLayout from '../layouts/PageLayout.astro';
import { siteConfig } from '../config';
import { Image } from 'astro:assets';
import headshotImage from '../../assets/img/headshot.jpg';
import ContactLinks from '../components/ContactLinks.astro';
import { getBioParagraphs } from '../content/about-bio';

const title = 'About';
const description = siteConfig.aboutDescription;
const bioParagraphs = getBioParagraphs(await import('../content/about-bio').then(m => m.aboutContent));
---

<PageLayout title={title} description={description}>
  <div class="float-end ms-3 mb-2 headshot">
    <a href={`${siteConfig.githubRepoUrl}/raw/master/assets/img/headshot.jpg`}>
      <Image src={headshotImage} alt={`${siteConfig.author} headshot`} width={250} height={250} />
    </a>
  </div>

  {bioParagraphs.map(paragraph => (
    <p set:html={paragraph}></p>
  ))}

  <p>
    Feel free to email him at <a href={`mailto:${siteConfig.email}`}>{siteConfig.email}</a> or you can find him on these social networks:
  </p>

  <ContactLinks />
</PageLayout>

<style>
  .headshot {
    float: right;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    width: 25%;
  }

  .headshot img {
    width: 100%;
    height: auto;
    border-radius: 6px;
  }

  @media (max-width: 768px) {
    .headshot {
      float: none;
      width: 50%;
      margin: 0 auto 1rem;
      display: block;
    }
  }
</style>
