---
import PageLayout from '../layouts/PageLayout.astro';
import { siteConfig } from '../config';
import { Image } from 'astro:assets';
import headshotImage from '../../assets/img/headshot.jpg';
import ContactLinks from '../components/ContactLinks.astro';
import { getBioParagraphs, aboutContent } from '../content/about-bio';

const title = 'About';
const description = siteConfig.aboutDescription;
const bioParagraphs = getBioParagraphs(aboutContent);
---

<PageLayout title={title} description={description}>
  <div class="md:float-right md:ml-4 mb-4 mx-auto md:mx-0 block md:inline w-1/2 max-w-[250px]">
    <a href={`${siteConfig.githubRepoUrl}/raw/master/assets/img/headshot.jpg`}>
      <Image src={headshotImage} alt={`${siteConfig.author} headshot`} width={250} height={250} class="w-full rounded" />
    </a>
  </div>

  {bioParagraphs.map(paragraph => (
    <p set:html={paragraph}></p>
  ))}

  <p>
    Feel free to email him at <a href={`mailto:${siteConfig.email}`}>{siteConfig.email}</a> or you can find him on these social networks:
  </p>

  <ContactLinks />
</PageLayout>
