---
import PageLayout from '../layouts/PageLayout.astro';
import { siteConfig } from '../config';
import ContactLinks from '../components/ContactLinks.astro';

const title = 'Contact';
const description = 'Contact Ben Balter via email or social media';
---

<PageLayout title={title} description={description}>
  <p class="text-center lead">
    Looking to get in touch? Email <a href={`mailto:${siteConfig.email}`}>{siteConfig.email}</a> or I'm <code>@{siteConfig.socialUsername}</code> most places:
  </p>

  <ContactLinks />
</PageLayout>
<style>
  .text-center {
    text-align: center !important;
  }

  .lead {
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 2rem;
  }

  code {
    background-color: var(--bs-secondary-bg);
    padding: 0.2em 0.4em;
    border-radius: 3px;
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    font-size: 0.9em;
    color: var(--bs-body-color);
  }
</style>
