---
import PageLayout from '../layouts/PageLayout.astro';
import { siteConfig } from '../config';
import { Image } from 'astro:assets';
import ccLicenseImage from '../../assets/images/cc-by-88x31.png';

const title = 'Fine Print';
const description = 'This is my personal Web site. The opinions expressed herein represent my own, and not those of any employer, group, or organization.';
---

<PageLayout title={title} description={description}>
  <p>
    This is my personal site. The opinions expressed herein represent my own, and not those of any employer, group, or organization.
  </p>

  <p>
    You should know that I am not an expert. My views do not constitute legal advice, nor is their validity, accuracy, currentness, or completeness guaranteed. If you need a lawyer, please find a licensed attorney in your state.
  </p>

  <p>
    As an Amazon Associate I earn from qualifying purchases. You should also know that some external links, for example, book recomendations, may contain an affiliate code, meaning at no additional cost to you, I may earn a small commission if you click through and make a purchase.
  </p>

  <p>
    Finally, be aware that I am a strong proponent of the <a href="http://en.wikipedia.org/wiki/Serial_comma">serial comma</a>, and, well, commas in general.
  </p>

  <h3 class="mt-4 mb-3 fs-4 fw-semibold">Licensing</h3>

  <div class="text-center mb-3">
    <a rel="license" href="https://creativecommons.org/licenses/by/3.0/">
      <Image src={ccLicenseImage} alt="Creative Commons License" />
    </a>
  </div>

  <ul class="mt-3">
    <li class="mb-2">
      All original content on <code class="bg-secondary-subtle px-2 py-1 rounded">Ben.Balter.com</code> is licensed under a <a rel="license" href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a> attributable to {siteConfig.author}.
    </li>
    <li class="mb-2">
      Header image courtesy <a href="http://fedscoop.com/">FedScoop</a>, © 2013.
    </li>
    <li class="mb-2">
      All code available <a href={siteConfig.githubRepoUrl}>on GitHub</a> and licensed under the MIT license.
    </li>
  </ul>
</PageLayout>
